@{
    ViewData["Title"] = "Chat";
    var groups = ViewBag.Groups as List<TfgDAW.Models.Grupos>;
    var selectedGroupId = ViewBag.GroupId as int?;
    var members = ViewBag.Members as List<string>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/chat.css">
    <script src="~/Content/js/scripts.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    @*Animaciones ya hechas*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <hr class="linea" />
            <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
            <hr class="linea" />
            <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
            <hr class="linea" />
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <hr class="linea" />
            <input id="cvDesplegar" type="checkbox">
            <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
            @if (ViewBag.IsAdmin)
            {
                <hr class="linea" />
                <input id="adminDesplegar" type="checkbox">
                <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
            }
            else
            {
                <input id="adminDesplegar" type="checkbox">
            }
    <!-- SubMenu Admin -->
    <div id="menuAdmin">
        <div id="contenidoMenuAdmin">
            <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
            <hr class="linea" />
            <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
            <hr class="linea" />
            <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
        </div>
    </div>
    <!-- SubMenu CV -->
    <div id="menuCV">
                <div id="contenidoMenuCV">
                    <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                    <hr class="linea" />
                    <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="miembros">

                @if (!ViewBag.NoChat && members != null && members.Count > 0)
                {
                    @String.Join(", ", members)

                <form action="@Url.Action("EliminarUsuario", "Grupos", new { groupId = ViewBag.GroupId })" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="Btn">
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>
                        <div class="text">Salir</div>
                    </button>
                </form>
                }
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>@ViewBag.user</p>
            <hr class="linea" />
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <hr class="linea" />
            <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
        </div>
    </div>
    <!-- main -->
    <main>
        <div class="menuGrupos">
            <ul>
                <li id="liCrear">
                    <!-- Grupo nuevo -->
                    <a href="@Url.Action("CrearGrupo", "Grupos")" id="crear">

                        <img id="crearImg" src="~/Content/imgs/anadir.png" />
                    </a>
                </li>
                @foreach (var group in groups)
                {
                    <li class="@(selectedGroupId == group.grupo_id ? "selected" : "")">
                        <a href="@Url.Action("Chat", "Grupos", new { groupId = group.grupo_id })">@group.nombre_grupo</a>
                    </li>
                }
            </ul>
        </div>

        @if (!ViewBag.NoChat)
        {
            <div class="chat-container">
                <div class="container">
                    <div>
                        <ul id="mensajesenchat"></ul>
                    </div>
                    <div class="envio">
                        <div class="Message">
                            <input title="Write Message" tabindex="i" pattern="\d+" placeholder="Escribe un mensaje..." class="MsgInput" id="cajamensaje" type="text">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt" viewBox="0 0 30.000000 30.000000" preserveAspectRatio="xMidYMid meet" class="SendSVG" id="botonenviar">
                                <g transform="translate(0.000000,30.000000) scale(0.100000,-0.100000)" fill="#ffffff70" stroke="none">
                                    <path d="M44 256 c-3 -8 -4 -29 -2 -48 3 -31 5 -33 56 -42 28 -5 52 -13 52 -16 0 -3 -24 -11 -52 -16 -52 -9 -53 -9 -56 -48 -2 -21 1 -43 6 -48 10 -10 232 97 232 112 0 7 -211 120 -224 120 -4 0 -9 -6 -12 -14z"></path>
                                </g>
                            </svg><span class="l"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="mostrarnombre" value="@ViewBag.user" />
                <input type="hidden" id="nombregrupo" value="@ViewBag.GroupName" />
            </div>

            @section scripts {

                <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
                <script src="~/signalr/hubs"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        var chat = $.connection.chatHub;
                        var groupName = $("#nombregrupo").val();

                        chat.client.EnviarMensaje = function (usuario, mensaje) {
                            var nombreusuario = $("#mostrarnombre").val();
                            var divnombre = $("<div/>").text(usuario).html();
                            var divmensaje = $("<div/>").text(mensaje).html();
                            var claseMensaje = usuario === nombreusuario ? "mensaje-propio" : "mensaje-ajeno";

                            $("#mensajesenchat").append("<li class='" + claseMensaje + "'>" + "<b>" + divnombre + "</b>" + "<p class='mensaje'>" + divmensaje + "</p>" + "</li>");

                            var chatContainer = $("#mensajesenchat");
                            chatContainer.scrollTop(chatContainer[0].scrollHeight);
                        };

                        $.connection.hub.start().done(function () {
                            chat.server.joinGroup(groupName).done(function () {
                                $("#botonenviar").click(function () {
                                    var nombreusuario = $("#mostrarnombre").val();
                                    var mensajeenviar = $("#cajamensaje").val();
                                    chat.server.send(groupName, nombreusuario, mensajeenviar);
                                    $("#cajamensaje").val("").focus();
                                });
                            });
                        });
                    });
                </script>
            }
        }

    </main>
</body>
</html>