@model MVC.Models.Favorito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Favorito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOpcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion.CvId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion1.LibroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpcionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpcionNavigation.JuegoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FavoritoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
