@model TfgDAW.Models.Libros

@{
    ViewBag.Title = "Agregar libro";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/crearelemento.css">
    <link href="~/Content/css/message.css" rel="stylesheet" />
    <script src="~/Content/js/scripts.js" defer></script>
</head>
<!-- Menu -->
<div id="menu">
    <div id="contenidoMenu">
        <a href="@Url.Action("Index", "Libros")">Inicio</a>
        <hr class="linea" />
        <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
        <hr class="linea" />
        <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
        <hr class="linea" />
        <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
        <hr class="linea" />
        <input id="cvDesplegar" type="checkbox">
        <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
        @if (ViewBag.IsAdmin)
        {
            <hr class="linea" />
            <input id="adminDesplegar" type="checkbox">
            <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
        }
        else
        {
            <input id="adminDesplegar" type="checkbox">
        }
        <!-- SubMenu Admin -->
        <div id="menuAdmin">
            <div id="contenidoMenuAdmin">
                <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
                <hr class="linea" />
                <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
                <hr class="linea" />
                <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
            </div>
        </div>
        <!-- SubMenu CV -->
        <div id="menuCV">
            <div id="contenidoMenuCV">
                <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                <hr class="linea" />
                <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav -->
<nav>
    <ul>
        <li id="liVerMenu">
            <input id="verMenu" type="checkbox">
            <label id="verMenuLabel" for="verMenu">
                <div class="verMenuDiv">
                    <div class="linea1"></div>
                    <div class="linea2"></div>
                    <div class="linea3"></div>
                </div>
            </label>
        </li>
        <li id="liVerMenuCuenta">
            <input type="checkbox" id="verMenuCuenta">
            <label id="verMenuCuentaLabel" for="verMenuCuenta">
                <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                <div class="cuentaClose">
                    <div class="linea1"></div>
                    <div class="linea2"></div>
                </div>
            </label>
        </li>
    </ul>
</nav>
<!-- Menu de cuenta -->
<div id="menuCuenta">
    <div id="contenidoMenuCuenta">
        <p>@ViewBag.user</p>
        <hr class="linea" />
        <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
        <hr class="linea" />
        <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
    </div>
</div>
<body>
    <!-- main -->
    <main>

        <!-- contenido -->
        @using (Html.BeginForm("CrearElemento", "Libros", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="contenido">

            <div class="izquierda">

                <img class="portada" id="imgPreview" src="~/Content/imgs/imgpordefecto.jpg" />
                <input type="file" name="imageFile" id="imageFile" accept="image/*" onchange="previewImage(event)" />

                @{
                    var opcionesVisibilidad = new List<SelectListItem>
                                        {
                        new SelectListItem { Text = "Publico", Value = "true" },
                        new SelectListItem { Text = "Privado", Value = "false" }
                    };
                }

                <div class="visibilidad">
                    <div>Visibilidad</div>
                    @Html.DropDownListFor(model => model.visible, opcionesVisibilidad, new { @class = "visibilidad-campo" })
                </div>


                <input type="file" name="pdfFile" id="pdfFile" />

            </div>
            <div class="derecha">


                <div class="titulo">
                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "titulo-campo", placeholder = "Titulo", maxlength = "100" } })
                </div>

                <div class="autor">
                    @Html.EditorFor(model => model.autor, new { htmlAttributes = new { @class = "autor-campo", placeholder = "Autor", maxlength = "100" } })
                </div>

                <div class="descripcion">
                    @Html.TextAreaFor(model => model.descripcion, new { @class = "descripcion-campo", placeholder = "Sinopsis" })
                </div>

                <p class="message-box" id="messageBox">@TempData["Message"]</p>
                <script src="~/Content/js/message.js"></script>

                <input class="subir" type="submit" value="Subir" />
            </div>

        </div>
        }
    </main>
</body>
</html>


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

@*Script para previsualizar la imagen*@
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById('imgPreview');
            imgElement.src = reader.result;
            imgElement.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
