@model IEnumerable<TfgDAW.Models.Libros>

    @{
        ViewData["Title"] = "Libros";
    }

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/principal.css">
    <script src="~/Content/js/scripts.js" defer></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <div class="linea"></div>
            <a href="@Url.Action("MisElementos", "Libros")">MisElementos</a>
            <div class="linea"></div>
            <p>Grupos</p>
            <div class="linea"></div>
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <div class="linea"></div><p>CVs</p>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liBuscar">

                @using (Html.BeginForm("Index", "Libros", FormMethod.Get))
                {
                    <input name="buscar" id="buscar" type="text" placeholder="Buscar titulo u autor">
                }
            </li>
            <li id="liVerFiltro">
                <input type="checkbox" id="verFiltro">
                <label id="verFiltroLabel" for="verFiltro">
                    <div class="verFiltroDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="~/Content/imgs/iconocuenta.png" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Filtro -->
    <div id="filtro">
        <div id="contenidoFiltro">
            <p>Categoria</p>
            <div class="linea"></div>
        </div>
    </div>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>Nombres</p>
            <div class="linea"></div>
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <div class="linea"></div>
            <p>Cerrar sesion</p>
        </div>
    </div>
    <!-- main -->
    <main>
        <!-- Contenido -->
        <div id="contenido">

            @foreach (var item in Model)
            {

                    <a href="@Url.Action("VerElemento", "Libros", new { id = item.libro_id })" class="elemento" name="id">
                        @if (item.portada != null && item.portada.Length > 0)
                        {
                            <img class="portada" src="data:image;base64,@Convert.ToBase64String(item.portada)" />
                        }
                        else
                        {
                            <img class="portada" src="~/Content/imgs/imgpordefecto.jpg" />
                        }
                        <div class="tituloAutor">
                            <p class="nombre">@Html.DisplayFor(modelItem => item.titulo)</p>
                            <p class="autor">@Html.DisplayFor(modelItem => item.autor)</p>
                        </div>
                    </a>
            }

            </div>
    </main>
</body>
</html>