@model IEnumerable<TfgDAW.Models.Libros>

    <!DOCTYPE html>
    <html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Content/css/verelemento.css">
        <script src="~/Content/js/scripts.js" defer></script>
        @*Visor de pdf PDF.js*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
        @*Animaciones ya hechas*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body>
        <!-- Menu -->
        <div id="menu">
            <div id="contenidoMenu">
                <a href="@Url.Action("Index", "Libros")">Inicio</a>
                <hr class="linea" />
                <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
                <hr class="linea" />
                <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
                <hr class="linea" />
                <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
                <hr class="linea" />
                <input id="cvDesplegar" type="checkbox">
                <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
                @if (ViewBag.IsAdmin)
                {
                    <hr class="linea" />
                    <input id="adminDesplegar" type="checkbox">
                    <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
                }
                else
                {
                    <input id="adminDesplegar" type="checkbox">
                }
                <!-- SubMenu Admin -->
                <div id="menuAdmin">
                    <div id="contenidoMenuAdmin">
                        <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
                        <hr class="linea" />
                        <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
                        <hr class="linea" />
                        <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
                    </div>
                </div>
                <!-- SubMenu CV -->
                <div id="menuCV">
                    <div id="contenidoMenuCV">
                        <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                        <hr class="linea" />
                        <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav -->
        <nav>
            <ul>
                <li id="liVerMenu">
                    <input id="verMenu" type="checkbox">
                    <label id="verMenuLabel" for="verMenu">
                        <div class="verMenuDiv">
                            <div class="linea1"></div>
                            <div class="linea2"></div>
                            <div class="linea3"></div>
                        </div>
                    </label>
                </li>
                <li id="liVerMenuCuenta">
                    <input type="checkbox" id="verMenuCuenta">
                    <label id="verMenuCuentaLabel" for="verMenuCuenta">
                        <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                        <div class="cuentaClose">
                            <div class="linea1"></div>
                            <div class="linea2"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </nav>
        <!-- Menu de cuenta -->
        <div id="menuCuenta">
            <div id="contenidoMenuCuenta">
                <p>@ViewBag.user</p>
                <hr class="linea" />
                <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
                <hr class="linea" />
                <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
            </div>
        </div>
        <!-- main -->
        <main>

            <!-- contenido -->
            <div class="contenido">
                @{
                    bool esFavorito = ViewBag.Favorito ?? false;
                }

                @foreach (var item in Model)
                {

                    ViewBag.Title = @Html.DisplayFor(modelItem => item.titulo);

                    //PORTADA
                    <div class="izquierda">
                        @if (item.portada != null && item.portada.Length > 0)
                        {
                            <img class="portada animate__animated animate__slow animate__bounceInDown" src="data:image;base64,@Convert.ToBase64String(item.portada)" />
                        }
                        else
                        {
                            <img class="portada animate__animated animate__slow animate__bounceInDown" src="~/Content/imgs/imgpordefecto.jpg" />
                        }

                        <div class="descargar-favorito">
                            @*DESCARGA*@
                            <a class="descarga animate__animated animate__slow animate__bounceInLeft" href="@Url.Action("DescargarArchivo", "Libros", new { id = item.libro_id })">
                                <svg viewBox="0 0 256 256"
                                     height="32"
                                     width="38"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M74.34 85.66a8 8 0 0 1 11.32-11.32L120 108.69V24a8 8 0 0 1 16 0v84.69l34.34-34.35a8 8 0 0 1 11.32 11.32l-48 48a8 8 0 0 1-11.32 0ZM240 136v64a16 16 0 0 1-16 16H32a16 16 0 0 1-16-16v-64a16 16 0 0 1 16-16h52.4a4 4 0 0 1 2.83 1.17L111 145a24 24 0 0 0 34 0l23.8-23.8a4 4 0 0 1 2.8-1.2H224a16 16 0 0 1 16 16m-40 32a12 12 0 1 0-12 12a12 12 0 0 0 12-12"
                                          fill="currentColor"></path>
                                </svg>
                            </a>
                            @*LIKE*@
                            @using (Html.BeginForm("AgregarFavorito", "Libros", FormMethod.Post, new { id = "checkboxForm" }))
                            {
                                @Html.Hidden("libroId", item.libro_id)
                                <div class="heart-container animate__animated animate__slow animate__backInRight" title="Like">
                                    <input type="checkbox" class="checkbox" id="Give-It-An-Id" name="checkboxValue" value="true" onchange="this.form.submit()" @(esFavorito ? "checked" : "") />
                                    <div class="svg-container">
                                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="derecha">
                        @*TEXTO*@
                        <p class="nombre animate__animated animate__slow animate__bounceInDown">@Html.DisplayFor(modelItem => item.titulo)</p>
                        <p class="autor animate__animated animate__slow animate__backInRight">@Html.DisplayFor(modelItem => item.autor)</p>
                        <p class="descripcion animate__animated animate__slow animate__backInRight">@Html.DisplayFor(modelItem => item.descripcion)</p>
                    </div>
                    @*Ver archivo*@
                    //ARCHIVO
                    <div id="pdf-viewer" class="animate__animated animate__slow animate__backInLeft"></div>
                    <script>
const url = '@Url.Action("VerArchivo", "Libros", new { id = item.libro_id })';

                    const pdfjsLib = window['pdfjs-dist/build/pdf'];

                    let currentPage = 1; // Página actual

                    const viewer = document.getElementById('pdf-viewer');

                    function renderPage(pageNum) {
                        pdfjsLib.getDocument(url).promise.then(function(pdf) {
                            pdf.getPage(pageNum).then(function(page) {
                                const scale = 1.5;
                                const viewport = page.getViewport({ scale: scale });

                                const canvas = document.createElement('canvas');
                                canvas.className = 'pdf-page';
                                viewer.innerHTML = ''; // Limpiar el visor antes de agregar la nueva página
                                viewer.appendChild(canvas);

                                const context = canvas.getContext('2d');
                                canvas.height = viewport.height;
                                canvas.width = viewport.width;

                                const renderContext = {
                canvasContext: context,
                viewport: viewport
                                };
                            page.render(renderContext);
                        });
                    });
}

                // Función para ir a la página anterior
                function goToPreviousPage() {
                    if (currentPage > 1) {
                        currentPage--;
                        renderPage(currentPage);
                    }
                }

                // Función para ir a la página siguiente
                function goToNextPage() {
                    pdfjsLib.getDocument(url).promise.then(function(pdf) {
                        if (currentPage < pdf.numPages) {
                            currentPage++;
                            renderPage(currentPage);
                        }
                    });
                }

                // Llamamos a renderPage para mostrar la primera página
                renderPage(currentPage);
                    </script>
                    //Botones para cambiar pagina
                    <div class="botones-pasar-pagina animate__animated animate__slow animate__backInLeft">
                        <div class="btn-conteiner">
                            <button class="btn-content" onclick="goToNextPage()">
                                <span class="icon-arrow2">
                                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path id="arrow-icon-one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                            <path id="arrow-icon-two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                            <path id="arrow-icon-three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                                <span class="btn-title">Anterior</span>
                            </button>
                        </div>

                        <div class="btn-conteiner">
                            <button class="btn-content animate__animated animate__slow animate__backInLeft" onclick="goToNextPage()">
                                <span class="btn-title">Siguiente</span>
                                <span class="icon-arrow">
                                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <path id="arrow-icon-one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                            <path id="arrow-icon-two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                            <path id="arrow-icon-three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                                        </g>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </main>
    </body>
</html>
