
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/editarElementoPortafolio.css">
    <script src="~/Content/js/scripts.js" defer></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <div class="linea"></div>
            <a href="@Url.Action("MisElementos", "Libros")">MisElementos</a>
            <div class="linea"></div>
            <p>Grupos</p>
            <div class="linea"></div>
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <div class="linea"></div><p>CVs</p>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="~/Content/imgs/iconocuenta.png" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>Nombres</p>
            <div class="linea"></div>
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <div class="linea"></div>
            <p>Cerrar sesion</p>
        </div>
    </div>
    <!-- main -->
    <main>

        <!-- contenido -->
        @using (Html.BeginForm("EditarElementoPortafolio", "Cv", FormMethod.Post))
        {

            <div class="contenido">

                <div class="titulo">
                    <input type="text" name="nombre" class="titulo-campo" placeholder="Nombre" value="@ViewBag.NombrePortafolioEditar" />
                </div>

                <div class="enlace">
                    <input type="text" name="enlace" class="enlace-campo" placeholder="Enlace" value="@ViewBag.EnlacePortafolioEditar" />
                </div>

                <input class="subir" type="submit" value="Subir" />

            </div>
        }
    </main>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

