@model IEnumerable<TfgDAW.Models.Cv>

@{
    ViewBag.Title = "Mi CV";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/editarcv.css">
    <script src="~/Content/js/scripts.js" defer></script>
    @*Visor de pdf PDF.js*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <hr class="linea" />
            <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
            <hr class="linea" />
            <a href="@Url.Action("Index", "Grupos", new { id = 1 })">Grupos</a>
            <hr class="linea" />
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <hr class="linea" />
            <input id="cvDesplegar" type="checkbox">
            <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
            <!-- SubMenu CV -->
            <div id="menuCV">
                <div id="contenidoMenuCV">
                    <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                    <hr class="linea" />
                    <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>@ViewBag.user</p>
            <hr class="linea" />
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <hr class="linea" />
            <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
        </div>
    </div>
    <!-- main -->
    <main>
        <!-- Contenido -->
        <div class="contenido">
            @foreach (var item in Model)
            {
                <div class="cv-container">
                    <p class="nombre-completo">@Html.DisplayFor(modelItem => item.nombre_completo)</p>
                    <p class="profesion">@Html.DisplayFor(modelItem => item.profesión)</p>
                    <div class="visibilidad">
                        @if (item.visible ?? false)
                        {
                            <img class="visibleImg" src="~/Content/imgs/visible.png" />
                        }
                        else
                        {
                            <img class="visibleImg" src="~/Content/imgs/novisible.png" />
                        }
                    </div>

                    <!-- Editar CV -->
                    <a href="@Url.Action("EditarCV2", "Cv", new { id = item.cv_id })" id="editar">

                        <img id="editarImg" src="~/Content/imgs/editar.png" />
                    </a>

                    @*Ver archivo*@
                    <div id="pdf-viewer"></div>
                    <script>
const url = '@Url.Action("VerArchivo", "Cv", new { id = item.cv_id })';

const pdfjsLib = window['pdfjs-dist/build/pdf'];
pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.worker.min.js';

const loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
    const viewer = document.getElementById('pdf-viewer');

    for (let pageNum = 1; pageNum <= pdf.numPages; pageNum++) {
        pdf.getPage(pageNum).then(function(page) {
            const scale = 1.5;
            const viewport = page.getViewport({ scale: scale });

            const canvas = document.createElement('canvas');
            canvas.className = 'pdf-page';
            viewer.appendChild(canvas);

            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
        });
    }
});
                    </script>

                    @*TECNOLOGIAS*@
                    <div class="portafolio-container">
                        <div id="portafolio-titulo">APTITUDES</div>

                        <!-- Añadir elemento -->
                        <a href="@Url.Action("CrearElementoTecnologia", "Cv", new { id = item.cv_id })" name="idcrearT" id="anadir">

                            <img id="anadirImg" src="~/Content/imgs/anadir.png" />
                        </a>
                        <div class="portafolio">
                            @for (int i = 0; i < ViewBag.Tecnologias.Length - 1; i++)
                            {
                                <div class="portafolio-elemento">
                                    <p class="portafolio-elemento-nombre">@ViewBag.Tecnologias[i]</p>

                                    <div class="botones">
                                        <!-- Eliminar elemento tecnologia -->
                                        <a href="@Url.Action("EliminarTecnologia", "Cv", new { id = i, ideliminarT = item.cv_id })" id="eliminar" name="ideliminarT">

                                            <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                        </a>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>

                </div>

                //REDES SOCIALES
                <div class="portafolio-container">
                    <div id="portafolio-titulo">REDES SOCIALES</div>
                    <div class="portafolio">
                        @*X*@
                        <div class="portafolio-elemento">
                            <a href="@ViewBag.RedesPersonal[0]" class="portafolio-elemento-nombre">
                                <img class="redesImg" src="~/Content/imgs/x.png" />
                                X
                            </a>

                            <div class="botones">
                                <!-- Editar elemento red -->
                                <a href="@Url.Action("EditarRed", "Cv", new { id = 0, enlace = @ViewBag.RedesPersonal[0], ideditarR = item.cv_id })" id="editar" name="ideditarR">
                                    <img id="editarImg" src="~/Content/imgs/editar.png" />
                                </a>
                                <!-- Eliminar elemento red -->
                                <a href="@Url.Action("EliminarRed", "Cv", new { id = 0, ideliminarR = item.cv_id })" id="eliminar" name="ideliminarR">
                                    <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                </a>
                            </div>
                        </div>
                        @*Instagram*@
                        <div class="portafolio-elemento">
                            <a href="@ViewBag.RedesPersonal[1]" class="portafolio-elemento-nombre">

                                <img class="redesImg" src="~/Content/imgs/instagram.png" />
                                Instagram
                            </a>

                            <div class="botones">
                                <!-- Editar elemento red -->
                                <a href="@Url.Action("EditarRed", "Cv", new { id = 1, enlace = @ViewBag.RedesPersonal[1], ideditarR = item.cv_id })" id="editar" name="ideditarR">
                                    <img id="editarImg" src="~/Content/imgs/editar.png" />
                                </a>
                                <!-- Eliminar elemento red -->
                                <a href="@Url.Action("EliminarRed", "Cv", new { id = 1, ideliminarR = item.cv_id })" id="eliminar" name="ideliminarR">
                                    <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                </a>
                            </div>
                        </div>
                        @*Facebook*@
                        <div class="portafolio-elemento">
                            <a href="@ViewBag.RedesPersonal[2]" class="portafolio-elemento-nombre">
                                <img class="redesImg" src="~/Content/imgs/facebook.png" />
                                Facebook
                            </a>

                            <div class="botones">
                                <!-- Editar elemento red -->
                                <a href="@Url.Action("EditarRed", "Cv", new { id = 2, enlace = @ViewBag.RedesPersonal[2], ideditarR = item.cv_id })" id="editar" name="ideditarR">
                                    <img id="editarImg" src="~/Content/imgs/editar.png" />
                                </a>
                                <!-- Eliminar elemento red -->
                                <a href="@Url.Action("EliminarRed", "Cv", new { id = 2, ideliminarR = item.cv_id })" id="eliminar" name="ideliminarR">
                                    <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                </a>
                            </div>
                        </div>
                        @*Linkedin*@
                        <div class="portafolio-elemento">
                            <a href="@ViewBag.RedesPersonal[3]" class="portafolio-elemento-nombre">
                                <img class="redesImg" src="~/Content/imgs/linkedin.png" />
                                Linkedin
                            </a>

                            <div class="botones">
                                <!-- Editar elemento red -->
                                <a href="@Url.Action("EditarRed", "Cv", new { id = 3, enlace = @ViewBag.RedesPersonal[3], ideditarR = item.cv_id })" id="editar" name="ideditarR">
                                    <img id="editarImg" src="~/Content/imgs/editar.png" />
                                </a>
                                <!-- Eliminar elemento red -->
                                <a href="@Url.Action("EliminarRed", "Cv", new { id = 3, ideliminarR = item.cv_id })" id="eliminar" name="ideliminarR">
                                    <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                </a>
                            </div>
                        </div>


                    </div>

                    @*PORTAFOLIO*@
                    <div id="portafolio-titulo" style="margin-top:50px;">PORTAFOLIO</div>

                    <!-- Añadir elemento -->
                    <a href="@Url.Action("CrearElementoPortafolio", "Cv", new { id = item.cv_id })" name="idcrear" id="anadir">

                        <img id="anadirImg" src="~/Content/imgs/anadir.png" />
                    </a>
                    <div class="portafolio">
                        @for (int i = 0; i < ViewBag.Nombres.Count; i++)
                        {

                            <div class="portafolio-elemento">
                                <a href="@ViewBag.Enlaces[i]" class="portafolio-elemento-nombre">@ViewBag.Nombres[i]</a>

                                <div class="botones">
                                    <!-- Editar elemento portafolio -->
                                    <a href="@Url.Action("EditarElementoPortafolio", "Cv", new { id = i, nombre = @ViewBag.Nombres[i], enlace = @ViewBag.Enlaces[i], ideditar = item.cv_id })" id="editar" name="ideditar">

                                        <img id="editarImg" src="~/Content/imgs/editar.png" />
                                    </a>

                                    <!-- Eliminar elemento portafolio -->
                                    <a href="@Url.Action("EliminarPortafolio", "Cv", new { id = i, ideliminar = item.cv_id  })" id="eliminar" name="ideliminar">

                                        <img id="eliminarImg" src="~/Content/imgs/eliminar.png" />
                                    </a>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            }
        </div>
    </main>
</body>
</html>

@*Si no hay enlace en la red social q se vea en rojo*@
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll(".portafolio-elemento-nombre");
        links.forEach(function (link) {
            if (link.getAttribute("href") === "#") {
                link.classList.add("red-text");
            }
        });
    });
</script>
