@model TfgDAW.Models.Cv

@{
    ViewBag.Title = "Editar Red Social";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/editarRed.css">
    <link href="~/Content/css/message.css" rel="stylesheet" />
    <script src="~/Content/js/scripts.js" defer></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <hr class="linea" />
            <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
            <hr class="linea" />
            <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
            <hr class="linea" />
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <hr class="linea" />
            <input id="cvDesplegar" type="checkbox">
            <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
            @if (ViewBag.IsAdmin)
            {
                <hr class="linea" />
                <input id="adminDesplegar" type="checkbox">
                <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
            }
            else
            {
                <input id="adminDesplegar" type="checkbox">
            }
            <!-- SubMenu Admin -->
            <div id="menuAdmin">
                <div id="contenidoMenuAdmin">
                    <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
                </div>
            </div>
            <!-- SubMenu CV -->
            <div id="menuCV">
                <div id="contenidoMenuCV">
                    <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                    <hr class="linea" />
                    <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>@ViewBag.user</p>
            <hr class="linea" />
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <hr class="linea" />
            <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
        </div>
    </div>
    <!-- main -->
    <main>

        <!-- contenido -->
        @using (Html.BeginForm("EditarRed", "Cv", FormMethod.Post))
        {

            <div class="contenido">

                <div class="enlace">
                    <input type="text" name="enlace" class="enlace-campo" placeholder="Enlace" value="@ViewBag.EnlaceRPortafolioEditar" />
                </div>

                <input class="subir" type="submit" value="Subir" />

                <input type="hidden" name="ideditarR" value="@ViewBag.IdeditarR" />

                <p class="message-box" id="messageBox">@TempData["Message"]</p>
                <script src="~/Content/js/message.js"></script>

            </div>
        }
    </main>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

