@model IEnumerable<TfgDAW.Models.Cv>

@{
    ViewBag.Title = "CV de";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vercv.css">
    <script src="~/Content/js/scripts.js" defer></script>
    @*Visor de pdf PDF.js*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    @*Animaciones ya hechas*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <hr class="linea" />
            <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
            <hr class="linea" />
            <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
            <hr class="linea" />
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <hr class="linea" />
            <input id="cvDesplegar" type="checkbox">
            <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
            @if (ViewBag.IsAdmin)
            {
                <hr class="linea" />
                <input id="adminDesplegar" type="checkbox">
                <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
            }
            else
            {
                <input id="adminDesplegar" type="checkbox">
            }
            <!-- SubMenu Admin -->
            <div id="menuAdmin">
                <div id="contenidoMenuAdmin">
                    <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
                </div>
            </div>
            <!-- SubMenu CV -->
            <div id="menuCV">
                <div id="contenidoMenuCV">
                    <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                    <hr class="linea" />
                    <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="@Url.Action("GetIcono", "Libros")" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>@ViewBag.user</p>
            <hr class="linea" />
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <hr class="linea" />
            <a href="@Url.Action("EliminarSesion", "Libros")">Cerrar sesion</a>
        </div>
    </div>
    <!--  main  -->
    <main>
        <!--  Contenido -->
        <div class="contenido">
            @foreach (var item in Model)
            {

                ViewBag.Title = "CV de " + @Html.DisplayFor(modelItem => item.nombre_completo);
                <div class="cv-container">
                    <p class="nombre-completo animate__animated animate__slow animate__bounceInDown">@Html.DisplayFor(modelItem => item.nombre_completo)</p>
                    <p class="profesion animate__animated animate__slow animate__bounceInLeft">@Html.DisplayFor(modelItem => item.profesión)</p>

                    @*Ver archivo*@
                    <div id="pdf-viewer" class="animate__animated animate__slow animate__bounceIn"></div>
                    <script>
const url = '@Url.Action("VerArchivo", "Cv", new { id = item.cv_id })';

const pdfjsLib = window['pdfjs-dist/build/pdf'];
pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.worker.min.js';

const loadingTask = pdfjsLib.getDocument(url);
loadingTask.promise.then(function(pdf) {
    const viewer = document.getElementById('pdf-viewer');

    for (let pageNum = 1; pageNum <= pdf.numPages; pageNum++) {
        pdf.getPage(pageNum).then(function(page) {
            const scale = 1.5;
            const viewport = page.getViewport({ scale: scale });

            const canvas = document.createElement('canvas');
            canvas.className = 'pdf-page';
            viewer.appendChild(canvas);

            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            const renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
        });
    }
});
                    </script>

                    @*TECNOLOGIAS*@
                    <div class="portafolio-container">
                        <div id="portafolio-titulo" class="animate__animated animate__slow animate__bounceInDown">APTITUDES</div>

                        <div class="portafolio">
                            @for (int i = 0; i < ViewBag.Tecnologias.Length - 1; i++)
                            {
                                <div class="portafolio-elemento animate__animated animate__slow animate__bounceInLeft">
                                    <p class="portafolio-elemento-nombre">@ViewBag.Tecnologias[i]</p>
                                </div>
                            }

                        </div>
                    </div>

                </div>
                //PORTAFOLIO
                <div class="portafolio-container">
                    <div id="portafolio-titulo" class="animate__animated animate__slow animate__bounceInDown">PORTAFOLIO</div>
                    <div class="portafolio">
                        @for (int i = 0; i < ViewBag.Nombres.Count; i++)
                        {
                            <a href="@ViewBag.Enlaces[i]" class="portafolio-elemento animate__animated animate__slow animate__bounceInLeft">@ViewBag.Nombres[i]</a>
                        }
                    </div>
                </div>
            }
        </div>
    </main>
</body>
</html>
