@model TfgDAW.Models.Usuarios

@{
    ViewBag.Title = "Mis datos";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/misdatos.css">
    <script src="~/Content/js/scripts.js" defer></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <div class="linea"></div>
            <a href="@Url.Action("MisElementos", "Libros")">MisElementos</a>
            <div class="linea"></div>
            <p>Grupos</p>
            <div class="linea"></div>
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <div class="linea"></div><p>CVs</p>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <li id="liVerMenuCuenta">
                <input type="checkbox" id="verMenuCuenta">
                <label id="verMenuCuentaLabel" for="verMenuCuenta">
                    <img class="cuentaImg" src="~/Content/imgs/iconocuenta.png" />
                    <div class="cuentaClose">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                    </div>
                </label>
            </li>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta">
        <div id="contenidoMenuCuenta">
            <p>Nombres</p>
            <div class="linea"></div>
            <a href="@Url.Action("MisDatos", "Usuarios")">Mis datos</a>
            <div class="linea"></div>
            <p>Cerrar sesion</p>
        </div>
    </div>
    <!-- main -->
    <main>

        <!-- contenido -->
        @using (Html.BeginForm("MisDatos", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.usuario_id)
        <div class="contenido">
            <img class="imgCuenta" id="imgPreview" src="@Url.Action("GetImage", "Usuarios", new { id = Model.usuario_id })" />

            <input type="file" name="imageFile" id="imageFile" accept="image/*" onchange="previewImage(event)" />

            <div class="campos">
                <div>Nombre</div>
                @*<input class="inputs" placeholder="input de prueba" />*@
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "inputs" } })
            </div>
            <div class="campos">
                <div>Correo electronico</div>
                @*<input class="inputs" placeholder="input de prueba" />*@
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "inputs" } })
            </div>
            <div class="campos">
                <div>Contraseña</div>
                <input class="inputs" name="password" placeholder="Contraseña antigua" />
                <input class="inputs" name="passwordN" placeholder="Contraseña nueva" />
            </div>

            <div class="botones">
                <input type="submit" name="boton" value="Guardar" class="boton" />
                <input type="submit" name="boton" value="Eliminar" class="boton" />
            </div>
        </div>
        }

        </main>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*Script para previsualizar la imagen*@
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById('imgPreview');
            imgElement.src = reader.result;
            imgElement.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>


