@model TfgDAW.Models.Usuarios

@{
    ViewBag.Title = "Mis datos";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/misdatos.css">
    <link href="~/Content/css/message.css" rel="stylesheet" />
    <script src="~/Content/js/scripts.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- Menu -->
    <div id="menu">
        <div id="contenidoMenu">
            <a href="@Url.Action("Index", "Libros")">Inicio</a>
            <hr class="linea" />
            <a href="@Url.Action("MisElementos", "Libros")">Mis libros</a>
            <hr class="linea" />
            <a href="@Url.Action("Chat", "Grupos", new { groupId = 0 })">Grupos</a>
            <hr class="linea" />
            <a href="@Url.Action("Favoritos", "Libros")">Favoritos</a>
            <hr class="linea" />
            <input id="cvDesplegar" type="checkbox">
            <label id="cvDesplegarLabel" for="cvDesplegar">CVs</label>
            @if (ViewBag.IsAdmin)
            {
                <hr class="linea" />
                <input id="adminDesplegar" type="checkbox">
                <label id="adminDesplegarLabel" for="adminDesplegar">Adminstrar</label>
            }
            else
            {
                <input id="adminDesplegar" type="checkbox">
            }
            <!-- SubMenu Admin -->
            <div id="menuAdmin">
                <div id="contenidoMenuAdmin">
                    <a href="@Url.Action("Index", "Admin")">Administrar usuarios</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarLibros", "Admin")">Administrar libros</a>
                    <hr class="linea" />
                    <a href="@Url.Action("AdministrarCVs", "Admin")">Administrar CVs</a>
                </div>
            </div>
            <!-- SubMenu CV -->
            <div id="menuCV">
                <div id="contenidoMenuCV">
                    <a href="@Url.Action("EditarCv", "Cv")">Mi CV</a>
                    <hr class="linea" />
                    <a href="@Url.Action("Index", "Cv")">Ver CVs</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav -->
    <nav>
        <ul>
            <li id="liVerMenu">
                <input id="verMenu" type="checkbox">
                <label id="verMenuLabel" for="verMenu">
                    <div class="verMenuDiv">
                        <div class="linea1"></div>
                        <div class="linea2"></div>
                        <div class="linea3"></div>
                    </div>
                </label>
            </li>
            <div id="verMenuCuenta"></div>
        </ul>
    </nav>
    <!-- Menu de cuenta -->
    <div id="menuCuenta"></div>
    </div>
    <!-- main -->
    <main>

        <!-- contenido -->
        @using (Html.BeginForm("MisDatos", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.usuario_id)
        <div class="contenido">
            <img class="imgCuenta" id="imgPreview" src="@Url.Action("GetImage", "Usuarios", new { id = Model.usuario_id })" alt="Foto de perfil" />

            <input type="file" name="imageFile" id="imageFile" accept="image/*" onchange="previewImage(event)" />

            <div class="campos">
                <div>Nombre</div>
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "inputs" } })
            </div>
            <div class="campos">
                <div>Correo electronico</div>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "inputs" } })
            </div>
            <div class="campos">
                <div>Contraseña</div>
                <input class="inputs" name="password" placeholder="Contraseña antigua" />
                <input class="inputs" name="passwordN" placeholder="Contraseña nueva" />
            </div>

            <div class="botones">
                <input type="submit" name="boton" value="Guardar" class="boton" onclick="return alertaModificacion()" />
                <input type="submit" name="boton" value="Eliminar" class="boton" onclick="return confirmarEliminar()" />
            </div>

            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
            <p class="message-box" id="messageBox">@TempData["Message"]</p>
            <script src="~/Content/js/message.js"></script>
        </div>

        }

    </main>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*Script para previsualizar la imagen*@
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById('imgPreview');
            imgElement.src = reader.result;
            imgElement.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

@*Confirmacion eliminacion de cuenta*@
<script type="text/javascript">
    function confirmarEliminar() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Estás seguro de que quieres eliminar tu cuenta?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar :(',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Adiós',
                    text: 'Esperamos volver a verte pronto',
                    icon: 'error',
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: false
                }).then(() => {
                    window.location.href = '/Usuarios/EliminarUsuario';
                });
            }
        });
        return false;
    }
</script>
