@{@model TfgDAW.Models.Usuarios

ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css">
    <link href="~/Content/css/message.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Share & Enjoy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("GRUPO", "Index", "Grupos", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("lIBROS", "Index", "Libros", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("CV", "Index", "cv", new { area = "" }, new { @class = "nav-link" })</li>
                    <!--Prueba inicio de app-->
                    <!--<li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>-->
                    <!--Prueba seguridad -->
                    <!--<li>@Html.ActionLink("Seguridad", "Index", "Seguridad", new { area = "" }, new { @class = "nav-link" })</li>-->
                </ul>

            </div>
        </div>
    </nav>
    <div class="login-container">
        <img class="logo" src="~/Content/imgs/shareenjoylogo.png" alt="logo de Share&Enjoy" />

        @using (Html.BeginForm("CrearUser", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="nombre">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "inputs", placeholder = "nombre", maxlength = "100" } })
            </div>
            <div class="email">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "inputs", placeholder = "correo", maxlength = "100" } })
            </div>

            <div class="pass">
                @Html.PasswordFor(model => model.password, new { @class = "inputs", placeholder = "pass", maxlength = "100" })

            </div>
            <div class="pass2">
                <input type="password" name="pass2" class="inputs" placeholder="pass" maxlength="100" />
            </div>

            <input class="boton" type="submit" value="REGISTRARSE" />

            <div class="crear-sesion">
                <p>¿Ya tienes una cuenta? <a href="@Url.Action("Index", "Usuarios")"><b>INICIAR SESION</b></a></p>
            </div>

            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

            <p class="message-box" id="messageBox">@TempData["Message"]</p>
            <script src="~/Content/js/message.js"></script>
        }
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

