@{@model TfgDAW.Models.Usuarios

ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css">
</head>
<body>
    <div class="login-container">
        <img class="logo" src="~/Content/imgs/shareenjoylogo.png" alt="Imagen de ejemplo" />

        @using (Html.BeginForm("CrearUser", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
             <div class="nombre">
                @Html.EditorFor(model => model.nombre , new { htmlAttributes = new { @class = "nombre-campo", placeholder = "nombre", maxlength = "100" } })
            </div>
            <div class="email">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "correo-campo", placeholder = "correo", maxlength = "100" } })
            </div>

            <div class="pass">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "pass-campo", placeholder = "pass", maxlength = "100" } })
            </div>

            <input class="boton" type="submit" value="REGISTRARSE" />
        }
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

